<div id="<%= dom_id video_lecture %>">
  <p>
    <strong>Title:</strong>
    <%= video_lecture.title %>
  </p>

  <p>
    <strong>Trailer url:</strong>
    <%= video_lecture.trailer_url %>
  </p>

  <p>
    <strong>Full video url:</strong>
    <%= video_lecture.full_video_url %>
  </p>

</div>
