<h1>Editing video lecture</h1>

<%= render "form", video_lecture: @video_lecture %>

<br>

<div>
  <%= link_to "Show this video lecture", @video_lecture %> |
  <%= link_to "Back to video lectures", video_lectures_path %>
</div>
